.a-btn {
  @include btn;
  font-size: .9375rem;
  padding: .5625rem 1rem .4375rem;
  text-transform: uppercase;
  border: 1px solid transparent;
  border-radius: 4px;
  width: 10em;
  max-width: 100%;

  // DISABLED
  &:disabled {
    border-color: color(g200, null, false);
    background-color: color(g200, null, false);
    color: color(g400, null, false);
    cursor: default;
  }

  // SPINNER
  &.--spinner-active {
    color: transparent !important;
    opacity: .54;
    pointer-events: none;

    & > .spinner {
      position: absolute;
      top: 0;
      left: 0;
      @include box(100%);
      display: flex;
      align-items: center;
      justify-content: center;
      z-index: 1;

      & > div {
        @include box(0.875em);
        border-radius: 50%;
        background-color: color(white, null, false);
        margin-right: 5%;
        animation: loader 1.4s infinite ease-in-out both;

        &:nth-of-type(2) {
          animation-delay: .25s;
        }

        &:last-of-type {
          animation-delay: .5s;
          margin-right: 0;
        }
      }
    }
  }
}


@include keyframes(loader) {
  0%,
  80%,
  100% {
    transform: translate3d(0, 0, 0) scale(0.25);
    opacity: 0;
  }
  40% {
    transform: translate3d(0, 0, 0) scale(1);
    opacity: 1;
  }
}


