// Карта с проектами
.m-panel-card {
  margin-bottom: .325em;

  @include st-card();
  border-radius: 4px;
  overflow: hidden;

  &.--open-set {
    .m-panel-card__wrap {
      transform: translateX(-215.27px);
    }
  }

  &__wrap {
    display: flex;

    transform: translateX(0);
    transition: .35s ease-out;
  }

  &__card-section {
    flex: 0 0 100%;
    max-width: 100%;
    padding: .625em;

    display: grid;
    align-items: center;
    grid-gap: .625em .875em;
    grid-template-columns: .75fr 1fr auto;

    .a-title-block,
    .m-task-bar {
      grid-column: span 2;
    }

    .a-expiration {
      justify-self: start;
    }

    .a-notif-counter {
      justify-self: center;
    }
  }

  &__edit-section {
    display: flex;
  }
}

.a-edit-panel-btn {
  flex: auto;

  padding: .875em 1em;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  background-color: color(g300, null, false);

  .a-icon {
    @include box(1.75em);
    background-color: color(g600, null, false);
  }

  p {
    @extend %xs-font;
    color: color(g600, null, false);
  }
}

.a-title-block {
  display: flex;

  &__img {
    flex: none;
    @extend %img-box;
    margin-right: .375em;
    @include box(2em);
    border-radius: 4px;
  }

  &__title {
    @extend %md-font;
    margin-top: 3px;
  }
}

.a-xs-font {
  @extend %xs-font;
  color: color(g500, null, false);
  text-align: center;
}

// срок проекта/задачи
.a-expiration {
  display: inline-flex;
  align-items: center;
  padding: .125em .375em;
  border-radius: 2.5em;
  background-color: rgba(color(success, null, true), .26);

  .a-icon {
    @include box(1em);
    margin-right: .375em;
    background-color: color(dark, null, false);
  }

  &__date {
    @extend %xs-font;
  }
}

// авторы/участники
.a-participants {
  display: inline-flex;
  align-items: center;

  &__author {
    flex: none;
    @extend %img-box;
    @include box(1.5em);
    background-color: color(g100, null, false);
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.26);
    border-radius: 50%;
  }

  .a-icon {
    flex: none;
  }

  &__assigned {
    flex: none;
    @extend %img-box;
    @include box(1.5em);
    background-color: color(g100, null, false);
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.26);
    border-radius: 50%;
  }

  &__count {
    flex: none;
    display: flex;
    align-items: center;
    color: color(g600, null, false);

    &:not(:only-child) {
      margin-left: .875em;
    }

    &:before {
      content: '';
      width: 10px;
      height: 1px;
      margin-right: 3px;
      background-color: color(g600, null, false);
    }

    .a-icon {
      order: -1;
    }

    span {
      @extend %sm-font;
    }
  }
}

// Счетчик уведомлений в карточке проектов
.a-notif-counter {
  display: inline-flex;
  align-items: center;
  justify-content: center;

  @extend %xs-font;
  line-height: 100%;
  text-align: center;
  color: color(g100, null, false);

  @include box(2em);
  background-color: color(priF, null, false);
  border-radius: 50%;
}

// блок с кол-вом задач
.m-task-bar {
  display: flex;
  flex-wrap: wrap;
  align-items: center;

  .a-task-item {
    @extend %xs-font;
    color: color(g400, null, false);

    &:not(:last-child) {
      margin-right: .9375rem;
    }
  }
}

.a-progress {
  position: relative;
  color: color(g500, null, false);
  background-color: color(g200, null, false);
  border-radius: 5px;
  overflow: hidden;
  width: 3.125em;
  text-align: center;

  &__percentage {
    display: block;

    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    height: 100%;
    background-color: color(g500, null, false);
  }

  p {
    mix-blend-mode: multiply;
  }
}