// --------- Login and Register
.m-login-bg {
  background-color: transparent;

  &:before,
  &:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }

  &:before {
    background: transparent url("../img/img-bg_login.jpg") no-repeat center;
    background-size: cover;
    filter: grayscale(100%);
  }

  &:after {
    background: linear-gradient(17.63deg, rgba(112, 95, 173, 0.54) 0%, rgba(225, 162, 38, 0.54) 100%);
    background-blend-mode: multiply;
    opacity: .54;
  }
}

.m-login-form {

  &__title {
    @extend %h2;
    margin-bottom: 1.875rem;
    text-align: center;
  }

  &__section {
    padding: 1.875em 2.5em 1.25em;
  }

  &__social {
    padding: 1.25em 2.5em;
    border-top: 1px solid color(g300, null, false);
    border-bottom: 1px solid color(g300, null, false);
    text-align: center;
  }

  &__label {
    font-size: .875em;
    margin-bottom: .75rem;
    text-align: left;
  }

  &__btn {
    @extend .a-btn;
    @include btnColors(priF);
    width: 100%;
    margin-top: 1.875rem;
  }

  &__bottom {
    margin-top: -1px;
    padding: .875em 2.5em;
    border-top: 1px solid color(g300, null, false);
    color: color(darkLow, null, false);
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  @include media(xs) {
    width: 21em;
  }
}

.a-link-btn {
  @extend .a-btn;
  @include btnText(priF);
  text-transform: unset;
  width: unset;
  font-weight: 500;
  vertical-align: unset;
}

.a-social-icon-link {
  display: inline-block;
  margin-right: .5em;
  @include box(1.875em);

  &.--facebook {
    mask: url("../img/icons.svg#icons_facebook") no-repeat;
    background-color: #3B5998;
  }

  &.--vk {
    mask: url("../img/icons.svg#icons_vk") no-repeat;
    background-color: #4D7198;
  }

  &.--viber {
    mask: url("../img/icons.svg#icons_viber") no-repeat;
    background-color: #665CAC;
  }

  &.--whatsapp {
    mask: url("../img/icons.svg#icons_whatsapp") no-repeat;
    background-color: #25D366;
  }

  &.--telegram {
    mask: url("../img/icons.svg#icons_tme") no-repeat;
    background-color: #0088CC;
  }
}