.o-main {
  height: 100vh;
  @extend .m-login-bg;

  @include media(sm) {
    padding: 9vmin 1em;

    .o-main__wrap {
      max-width: 30em;
      margin: auto;
    }
  }

  &__wrap {
    @include st-card(false);
    @include box(100%);

    position: relative;
    z-index: 1;

    display: flex;
    flex-direction: column;
  }

  &__top {
    flex: none;

    padding: 1.25em .75em .625em;
    border-bottom: 1px solid color(g200, null, false);
  }

  &__center {
    flex: auto;
    overflow-y: auto;

    padding: .625em .375em;
    background: linear-gradient(180deg, color(g100, null, false) 0%, color(g200, null, false) 100%);
  }

  &__bottom {
    flex: none;
    margin-top: auto;

    padding: .625em .75em;
    background-color: color(g400, null, false);
  }
}