// УНИВЕРСАЛЬНОЕ ПОПАП
.m-popup {
  @include backCard();
  z-index: 999;
  overflow-y: auto;

  &__card {
    @include st-card();
    z-index: 1000;
    margin: auto;
    max-width: 100%;
    animation: PopupShow 0.6s ease-in-out;
    animation-delay: .05s;
    position: relative;
  }

  // ЗАКРЫТЬ
  &__close {
    position: absolute;
    top: 1em;
    right: 1em;
    display: block;
    @include box(1.75em);
    cursor: pointer;
    transition: all .25s ease-in-out;

    &:hover:before,
    &:hover:after { opacity: 1; }

    &:active { transform: translateY(1px); }

    &:before,
    &:after {
      content: '';
      position: absolute;
      top: 0;
      left: 50%;
      display: block;
      width: 3px;
      height: inherit;
      background-color: color(priF, null, false);
      opacity: .75;
      transition: opacity .25s ease-in-out;
    }

    &:before { transform: rotate(-45deg); }

    &:after { transform: rotate(45deg); }
  }
}

.a-notific {
  @include backCard();
  z-index: 1001;

  &__card {
    @include st-card();
    margin: auto;
    display: grid;
    grid-template-columns: auto 1fr;
    animation: notificShow 0.3s ease-out;
    @include media(xs) {
      width: 20em;
    }

    &.--alert .a-notific__icon {
      background-color: color(alert, null, false);
    }

    &.--error .a-notific__icon {
      background-color: color(error, null, false);
    }

    &.--success .a-notific__icon {
      background-color: color(success, null, false);
    }

    &.--info .a-notific__icon {
      background-color: color(info, null, false);
    }
  }

  &__icon {
    padding: 1.25em;
    grid-row: span 3;
    text-align: center;

    display: inline-flex;
    pointer-events: none;
    //transform: translate3d(0, -10%, 0) scale(1, 0);
    //animation: notificInfo 0.2s 0.15s ease-out both;

    p {
      flex: none;
      margin: auto;

      @include box(3rem);
      display: flex;
      align-items: center;
      justify-content: center;
      border: 3px solid color(white, null, false);
      border-radius: 50%;

      font-size: 180%;
      font-weight: bold;
      color: color(white, null, false);

      transform: translate3d(0, -10%, 0) scale(1, 0);
      animation: notificInfo 0.2s 0.35s ease-out both;
    }
  }

  &__title {
    align-self: center;
    margin: .875rem 1.25rem;
    @extend %h3;

    &:last-of-type {
      grid-row: span 3;
    }
  }

  &__text:not(:empty) {
    grid-area: 2/2/3/3;
    margin: 0 1.25rem .875rem;
    font-size: 87.5%;
  }

  &__controls:not(:empty) {
    grid-area: 3/2/4/3;

    padding: .875rem 1.25rem;
    border-top: 1px solid color(g300, null, false);

    & > button {
      width: auto;

      &:not(:last-of-type) {
        margin-right: 0.5rem;
      }
    }
  }
}

@include keyframes(fadeIn) {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@include keyframes(PopupShow) {
  0% {
    opacity: 0;
    //transform: translate3d(0, -8vmax, 0);
    transform: scale(0.95);
  }
  50% {
    transform: scale(1.05);
  }
  100% {
    opacity: 1;
    //transform: translate3d(0, 0, 0);
    transform: scale(1);
  }
}

@include keyframes(notificShow) {
  0% {
    opacity: 0;
    transform: translate3d(0, -10%, 0) scale(0);
  }
  80% {
    opacity: 1;
    transform: translate3d(0, 0, 0) scale(1.1);
  }
  100% {
    opacity: 1;
    transform: translate3d(0, 0, 0) scale(1);
  }
}

@include keyframes(notificInfo) {
  0% {
    opacity: 0;
    transform: translate3d(0, -10%, 0) scale(1, 0);
  }
  80% {
    opacity: 1;
    transform: translate3d(0, 0, 0) scale(1.2, 1.2);
  }
  100% {
    opacity: 1;
    transform: translate3d(0, 0, 0) scale(1);
  }
}