$breakpoints: (
        "xs": 350px,
        "sm": 576px,
        "md": 768px,
        "lg": 1024px,
        "xl": 1200px,
        "xxl": 1500px
);

@mixin media($width, $type: min) {
  @if map_has_key($breakpoints, $width) {
    $width: map_get($breakpoints, $width)
  }

  @if $type == max {
    $width: $width - 1px
  }

  @media only screen and (#{$type}-width: $width) {
    @content
  }
}

@mixin keyframes($name) {
  @-webkit-keyframes #{$name} {
    @content;
  }
  @-moz-keyframes #{$name} {
    @content;
  }
  @-ms-keyframes #{$name} {
    @content;
  }
  @keyframes #{$name} {
    @content;
  }
}

// +truncateText()
@mixin truncateText($overflow: ellipsis) {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: $overflow;
}

@mixin box($width, $height: $width) {
  width: $width;
  height: $height;
}

@mixin placeholder() {
  &::-webkit-input-placeholder {
    @content;
  }
  &:-moz-placeholder {
    @content;
  }
  &::-moz-placeholder {
    @content;
  }
  &:-ms-input-placeholder {
    @content;
  }
}

