@import "../_base/functions";
@import "../_base/mixins";

// Главный прелоадер
.a-preloader {
  $count: 10;
  $time: 2; //in seconds

  --preloaderColor: #017AB2;
  --preloaderSize: 50;
  --preloaderTextColor: #949CA2;

  // Маленькие для вставки в попап
  &.--mini {
    flex-direction: row;
    & .a-preloader__item {
      --preloaderSize: 40;
    }
    & .a-preloader__text {
      padding-left: 1em;
      padding-top: 0;
    }
  }

  background-color: #fff;
  @include box(100%);
  position: absolute;
  z-index: 5000;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  // Кружочки по кругу
  &.--circles {
    & .a-preloader__item {
      @include box(calc(#{var(--preloaderSize)} * 1px));
      animation: rotatePreloader $time + s infinite ease-in;

      & > div {
        position: absolute;
        @include box(100%);
        opacity: 0;

        &:before {
          content: "";
          position: absolute;
          left: 50%;
          top: 0%;
          width: 10%;
          height: 10%;
          background-color: var(--preloaderColor);
          transform: translateX(-50%);
          border-radius: 50%;
        }
      }
    }

    @for $i from 1 through $count {
      .a-preloader__item > div:nth-child(#{$i}) {
        transform: rotateZ(((360 / $count) * ($i - 1)) + deg);
        animation: rotateCircle + $i $time + s infinite linear;
        z-index: $count - $i;
      }
      @keyframes rotateCircle#{$i} {
        #{percentage(((50 / $count) * ($i - 1)) / 100)} {
          opacity: 0;
        }
        #{percentage((((50 / $count) + 0.0001) * ($i - 1)) / 100)} {
          opacity: 1;
          transform: rotateZ((0 - ((360 / $count) * ($i - 2))) + deg);
        }
        #{percentage((((50 / $count) * ($i - 0)) + 2) / 100)} {
          transform: rotateZ((0 - ((360 / $count) * ($i - 1))) + deg);
        }
        #{percentage(((50 + ((50 / $count) * ($i - 0))) + 2) / 100)} {
          transform: rotateZ((0 - ((360 / $count) * ($i - 1))) + deg);
        }
        100% {
          transform: rotateZ((0 - ((360 / $count) * ($count - 1))) + deg);
          opacity: 1;
        }
      }
    }
  }

  // Полоски по кругу
  &.--lines {
    & .a-preloader__item {
      @include box(calc(#{var(--preloaderSize)} * 1px));
      transform: translate3d(-50%, -50%, 0) rotate(-135deg);
      transform: rotate(-135deg);

      & > div {
        position: absolute;
        top: 50%;
        left: 50%;
        border-width: calc(#{var(--preloaderSize)} * 0.05px);
        border-style: solid;
        border-color: transparent;
        border-top-color: var(--preloaderColor);
        border-left-color: var(--preloaderColor);
        border-radius: 50%;
        animation: animate 2s infinite;
        transform: translate3d(-50%, -50%, 0);

        &:first-child {
          @include box(calc(#{var(--preloaderSize)} * 0.4px));
        }

        &:nth-of-type(2) {
          @include box(calc(#{var(--preloaderSize)} * 0.6px));
          animation-delay: 0.2s;
        }

        &:nth-of-type(3) {
          @include box(calc(#{var(--preloaderSize)} * 0.8px));
          animation-delay: 0.4s;
        }

        &:last-of-type {
          @include box(calc(#{var(--preloaderSize)} * 1px));
          animation-delay: 0.6s;
        }
      }
    }
  }

  // Прямоугольники по порядку
  &.--rectangles {
    & .a-preloader__item {
      width: calc(#{var(--preloaderSize)} * 1px);
      height: calc(#{var(--preloaderSize)} * 0.8px);
      display: flex;
      justify-content: space-between;

      & > div {
        background-color: var(--preloaderColor);
        height: 100%;
        width: 12%;
        display: inline-block;

        animation: stretchdelay 1.2s infinite ease-in-out;

        &:nth-of-type(2) {
          animation-delay: -1.1s;
        }

        &:nth-of-type(3) {
          animation-delay: -1.0s;
        }

        &:nth-of-type(4) {
          animation-delay: -0.9s;
        }

        &:nth-of-type(5) {
          animation-delay: -0.8s;
          margin-right: 0;
        }
      }
    }
  }

  // 4 кружка
  &.--rounds {
    & .a-preloader__item {
      @include box(calc(#{var(--preloaderSize)} * 1px));

      & > div {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate3d(-50%, -50%, 0);
        @include box(calc(#{var(--preloaderSize)} * 0.35px));
        border-radius: 100%;
        animation: spin 2s ease infinite;
        background-color: var(--preloaderColor);

        &:first-child {
          animation-delay: -1.5s;
        }

        &:nth-child(2) {
          animation-delay: -1s;
        }

        &:nth-child(3) {
          animation-delay: -0.5s;
        }
      }
    }
  }

  &__item {
    position: relative;
    flex: none;
  }

  &__text {
    max-width: calc(#{var(--preloaderSize)} * 3px);
    line-height: 150%;
    padding-top: 1em;
    text-align: center;
    color: var(--preloaderTextColor);
  }
}

@include keyframes(spin) {
  0%, 100% {
    transform: translate3d(-150%, -150%, 0)
  }
  25% {
    transform: translate3d(50%, -150%, 0)
  }
  50% {
    transform: translate3d(50%, 50%, 0)
  }
  75% {
    transform: translate3d(-150%, 50%, 0)
  }
}

@include keyframes(animate) {
  50% {
    transform: translate3d(-50%, -50%, 0) rotate(360deg) scale(0.8);
  }
}

@include keyframes(rotatePreloader) {
  0% {
    transform: translateX(-50%) translateY(-50%) rotateZ(0deg);
    transform: rotateZ(0deg);
  }
  100% {
    transform: translateX(-50%) translateY(-50%) rotateZ(-360deg);
    transform: rotateZ(-360deg);
  }
}

@include keyframes(stretchdelay) {
  0%, 40%, 100% {
    transform: scaleY(0.5);
  }
  20% {
    transform: scaleY(1.1);
  }
}