$colors: (
        priF: #705FAD,
        accF: #E1A226,
        white: #fff,
        black: #000,
        g100: #F9F9F9,
        g200: #F0F0F0,
        g300: #E5E5E5,
        g400: #D1D0D3,
        g500: #8B8893,
        g600: #555260,
        g700: #292730,
  // Для текста
        dark: #292730,
        darkLow: #D1D0D3,
        light: #F9F9F9,
        lightLow: #E5E5E5,
  // Информационный
        error: #F24E38,
        success: #50B25F,
        alert: #F2C438,
        info: #4363D4,
);
