.test-modal {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: none;
}

.test-modal.active {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color:rgba(0, 0, 0, 0.7);
}

.test-modal-container {
    padding: 25px;
    background: white;
    border-radius: 16px;
    min-width: 250px;
}